
body {
    background-color: #141414;
}

.goida_elem {
    display: block;
}

img {
    position: relative;
    width: 50%;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;
}

button {
    position: relative;
    width: 30%;

    margin-left: auto;
    margin-right: auto;
}

#antigoida {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    background-color:#141414;
}

iframe {
    position: relative;
    width: 100%;

    margin-top: 20px;
}